{% load static %}

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>DEU Course Registration</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(187, 213, 235);">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link lead" href="/">Home</a>
        </li>
      </ul>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link lead" href="{% url 'course_registration' %}">Course Registration</a>
            <a class="nav-item nav-link lead" href="{% url 'schedule' %}">Schedule</a>
          </div>
          {% if user.is_authenticated %}
          <div class="navbar-nav navbar-right">
            <a class="nav-item nav-link lead" style="color: sienna;">{{user.username}}</a>
            <a class="nav-item nav-link lead" href="/logout">Logout</a>
          {% else %}
            <a class="nav-item nav-link lead" style="color: rgb(68, 68, 68);" href="{% url 'login' %}">Login</a>
            <a class="nav-item nav-link lead" style="color: rgb(68, 68, 68);" href="{% url 'register' %}">Register</a>
          </div>
          {% endif %}
        </div>
    </div>
  </nav>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>